 body{
  font-family: 'Roboto Slab', serif;
  margin: 0;
 }
 h1{
  font-size: 50px;
 }
 h2{
  font-size: 40px;
 }
 .orange-color{
  color: orange;
 }
 .flexible-container{
  display: flex;
  margin-bottom: 150px;
 }
 .half-width{
  width: 50%;
  padding-left: 100px;
  padding-right: 100px;
  
 }
 .half-width img{
  width: 80%;
 }
 .link-button{
  text-decoration: none;
  background-image: linear-gradient(orange, tomato );
  padding: 10px 40px;
  border-radius: 10px;
  color: white;
  font-weight: 700;
 }
 .top-banner{
  background-image: url(img/top-banner.png);
  background-repeat: no-repeat;
 }
.dream-big{
  background-image: url(img/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.experience-item{
  width:40%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 30px;
  padding-right: 20px;
  box-shadow: 10px 10px 40px gray;
  border-radius: 10px;
  
}
#left-part{
  border-left: 7px solid tomato;
}
#right-part{
  border-left: 7px solid blue;
}
.experience-area{
  background-image: url(img/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
footer p{
  text-align: center;
}